body {
  margin: 0;
  font-family: Cairo,
    sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* image grid styles */



.dropdown-button {
  display: none;
}
.logo-mobile {
  display: none;
}



@media (max-width: 600px) {



  .arrow-button {
    margin-left: 15vh;
  }

  .drawer-grid {
    display: none;
  }


  .dropdown-button {
    display: flex;
    max-height: 5vh;
    margin-top: 2vh;
    border: none;
    background: none;
    color: rgba(0, 0, 0, 0.651);
  }




  .intro {
    border: 4px;
    border-radius: 10px;
    padding: 1.5vh;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    margin-left: 25%;
  }

  .grid {
    font-size: 1.5vh;
    direction: initial;
    width: 50vh;
  }

}