body {
  margin: 0;
  font-family: Cairo,
    sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* image grid styles */

.img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.grid {
  background: #e6e6e6;
  min-height: 100vh;
}

.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  opacity: 0.8;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
}

.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;

}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #111111d0;
}

.backdrop img {
  display: flex;
  max-width: 100%;
  max-height: 80vh;
  margin: 5vh auto;
  box-shadow: 30px 50px 70px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}

.arrow-button {
  background: #cabebe00;
  color: white;
  margin-left: 32%;
  font-size: 5vh;
  border: none;
}

.album-span {
  overflow: hidden;
  font-size: 1.5vh;
}

.drawer {
  background: #ffffffab;
  border-radius: 5px;
  flex-shrink: 0;
  z-index: 0;
  min-height: 100%;
  min-width: 80%;
  max-width: 10%;
  position: static;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

.dropdown-button {
  display: none;
}

.logo {
  width: 100%;
  margin: 1vh auto;
  margin-left: 0.2vh;
}

.logo-mobile {
  display: none;
}

.intro {
  background: rgba(255, 255, 255, 0.664);
  border: 4px;
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 5vh auto;
  text-align: center;
}

.logo-firebase {
  max-height: 20vh;
  margin-left: 5vh;
  margin-right: 5vh;
}

.logo-react {
  max-height: 20vh;
  margin-left: 5vh;
  margin-right: 5vh;
}

.logo-github {
  max-height: 10vh;
  margin-left: 5vh;
  margin-right: 5vh;
}

.logged-example{
  width: 80%;
  margin-bottom: 2vh;
}



@media (max-width: 600px) {
  .img-grid {
    margin-left: 12vh;
    display: grid;
    grid-template-columns: 1fr;
  }

  .backdrop img {
    display: block;
    max-width: 80%;
    max-height: 100%;
    margin: 60px auto;
    box-shadow: 30px 50px 70px rgba(0, 0, 0, 0.712);
    border: 3px solid white;
  }

  .arrow-button {
    padding: 1.5vh;
    margin-top: 5%;
    margin-left: 25%;
  }

  .drawer-grid {
    display: none;
  }


  .dropdown-button {
    display: flex;
    max-height: 5vh;
    margin-top: 2vh;
    border: none;
    background: none;
    color: rgba(0, 0, 0, 0.651);
  }

  .dropdown-menu {
    width: 50%;
    height: 100%;
  }

  .logo-mobile {
    display: flex;
    max-width: 70%;
    margin-left: 2vh;
  }

  .mobile-grid {
    display: grid;
    grid-column-gap: 1vh;
    background: #e6e6e6;
  }

  .mobile-grid-btn {
    grid-column-start: 1;
    grid-column-end: 2;

  }

  .mobile-grid-logo {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .intro {
    border: 4px;
    border-radius: 10px;
    padding: 1.5vh;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    margin-left: 25%;
  }

  .grid {
    font-size: 1.5vh;
    direction: initial;
    width: 50vh;
  }

}